{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}A selection of personal health records in England{{serviceName}}{% endblock %}

{% block pageTitle %}A selection of personal health records in England{% endblock %}

{% block content %}



<div class="first-item">

	<p>Local healthcare providers are helping patients to see their personal health records online. Patients can use their records to:</p>
	<ul>
		<li>see information that healthcare staff want to share with them </li>
		<li>find out about appointments and treatment </li>
		<li>have more control over their health problems </li>
		<li>bring together information from different NHS organisations they have contact with </li>
	</ul>
	<p>The number of services on this page will increase as more NHS organisations develop digital services for patients in their areas.</p>

	<div>
		<div>
			<h2 class="heading-xlarge">Birmingham</h2>
			<p>If you are an inpatient or outpatient receiving care at the Queen Elizabeth Hospital Birmingham, you can access <a href="https://www.myhealth.uhb.nhs.uk/">myhealth@QEHB</a> to:</p>
			<ul>
				<li>view your secure healthcare information online</li>
				<li>share information with the health professional of your choice</li>
				<li>get more control over your care within the NHS</li>
				<li>improve your understanding of your condition and its management</li>
			</ul>
		</div>
	</div>

	<div>
		<div>
			<h3 class="heading-xlarge">Southampton</h2>
			<p>If you are an inpatient or outpatient receiving care at University Hospital Southampton (UHS), you can access <a href="https://mymedicalrecord.uhs.nhs.uk/About.aspx">My medical record</a> to:</p>
			<ul>
				<li>view your UHS hospital medical record</li>
				<li>take part in online consultations for specific conditions</li>
				<li>share information with doctors and other healthcare professionals</li>
				<li>reduce the need for hospital visits</li>
			</ul>
		</div>
	</div>

</div>
{% endblock %}

{% block footer %}{% endblock %}
