{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Find and access local digital health products in your area{{serviceName}}{% endblock %}

{% block pageTitle %}Find and access local digital health products in your area{% endblock %}

{% block content %}

<style>

.local-product {
	border: 10px solid #e8edee;
	padding: 10px;
	background-color: #fff;
	margin-bottom: 1em;
	font-size: 0.9em;
}

.local-product h3.heading-large {
	margin-top: 0;
	font-size: 1.1em;
}

.l-product {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	padding-top: 10px;
}
.l-product img {
	max-width: 100%;
}

.r-product {
	display: inline-block;
	width: 70%;
}

</style>


<div class="first-item">
	<p>Improve your health with some of the best digital health products in your area.</p>
	<p>We enable you to interact with more convenient and efficient services, from your local healthcare provider, that can improve the management of your health.</p>
	<p>There is a small selection of public health record products to begin with as we continue to transform the ways you take control of your health and wellbeing in conjunction with your local healthcare provider.</p>

	<div>

		<div>
			<h3 class="heading-xlarge">Bristol: Access online resources and view your health record</h2>
			<p>Access, download and print your health information securely with the Bristol Hospital <a href="https://www.bristolhospital.org/About-Bristol-Hospital/Patient-Health-Portal.aspx">Patient Health Portal</a>.</p>
		</div>

	</div>

	<div>

		<div>
			<h3 class="heading-xlarge">Sandwell and Birmingham: Build closer relationships with your healthcare team</h2>
			<p>Add value to your Type 1 diabetes care, promote self-management and potentially enhance the relationship with your healthcare team with the use of <a href="https://www.patientsknowbest.com/sandwell-and-west-birmingham-hospitals-nhs-trust.html">Patients Know Best (PKB)</a>.</p>
		</div>

	</div>

	<div>

		<div>
			<h3 class="heading-xlarge">Southampton: Connect with your medical records</h2>
			<p>Speed up your treatment, co-manage your healthcare online and reduce hospital visits among other benefits as you experience the future of health care with <a href="https://mymedicalrecord.uhs.nhs.uk/">My medical record</a>.</p>
		</div>

	</div>

</div>

<div class="form-group" style="background-color: #f0f4f5; border: solid #768692; border-width: 0 0 0 4px;">
	<p style="padding: 15px;">Local digital health products are not intended to be a substitute for a consultation with a healthcare professional. It is up to you to contact a healthcare professional if you are concerned about your health. See our <a href="disclaimer">full disclaimer here</a>.</p>
</div>
{% endblock %}

{% block footer %}{% endblock %}
