{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Local Digital Health Products{{serviceName}}{% endblock %}

{% block pageTitle %}Local Digital Health Products{% endblock %}

{% block content %}
<div class="first-item">
	<p>This is some copy.This is some copy.This is some copy.This is some copy.This is some copy.This is some copy.This is some copy.This is some copy.This is some copy.</p>

	<h2 class="heading-large"><a href="#">Southampton showcases how PHRs benefit patients</a></h2>
	<p>Speed up your treatment and reduce hospital visits with the pioneering use of personal health records by University of Southampton NHS Foundation Trust.</p>

	<h2 class="heading-large"><a href="#">Hampshire Health Record</a></h2>
	<p>The Hampshire Health Record safely shares important information about you with healthcare professionals treating you and your family wherever they are. This leads to faster and more accurate care.</p>

	<h2 class="heading-large"><a href="https://www.poole.nhs.uk/patients--visitors/health-information-centre/accessing-health-records.aspx">Poole Personal Health Record</a></h2>
	<p>Poole Hospital aims to provide you with the highest quality healthcare as the health professionals caring for you keep records about your health and the treatment you receive from us.</p>

	<h2 class="heading-large"><a href="https://www.patientsknowbest.com/sandwell-and-west-birmingham-hospitals-nhs-trust.html">Sandwell and West Birmingham Patient Knows Best</a></h2>
	<p>If you have Type 1 diabetes, personal health records could add value to your care, promote self-management and potentially enhance the relationship with your healthcare team.</p>

	<h2 class="heading-large"><a href="https://www.bristolhospital.org/About-Bristol-Hospital/Patient-Health-Portal.aspx">Bristol Patient Health Portal</a></h2>
	<p>You can now access, download and print your health information with the Bristol Hospital Patient Health Portal.</p>
</div>
{% endblock %}

{% block footer %}{% endblock %}
