{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Local Digital Health Products{{serviceName}}{% endblock %}

{% block pageTitle %}Local Digital Health Products{% endblock %}

{% block content %}

<style>

.local-product {
	border: 10px solid #e8edee;
	padding: 10px;
	background-color: #fff;
	margin-bottom: 1em;
	font-size: 0.9em;
}

.local-product h3.heading-large {
	margin-top: 0;
	font-size: 1.1em;
}

</style>


<div class="first-item">
	<p>This is some copy.This is some copy.This is some copy.This is some copy.This is some copy.This is some copy.This is some copy.This is some copy.This is some copy.</p>

	<div class="local-product">

		<h3 class="heading-large"><a href="#">Southampton showcases how PHRs benefit patients</a></h2>
		<p>Speed up your treatment and reduce hospital visits with the pioneering use of personal health records by University of Southampton NHS Foundation Trust.</p>

	</div>

	<div class="local-product">

		<h3 class="heading-large"><a href="https://www.patientsknowbest.com/sandwell-and-west-birmingham-hospitals-nhs-trust.html">Sandwell and West Birmingham Patient Knows Best</a></h2>
		<p>If you have Type 1 diabetes, personal health records could add value to your care, promote self-management and potentially enhance the relationship with your healthcare team.</p>

	</div>

	<div class="local-product">

		<h3 class="heading-large"><a href="https://www.bristolhospital.org/About-Bristol-Hospital/Patient-Health-Portal.aspx">Bristol Patient Health Portal</a></h2>
		<p>You can now access, download and print your health information with the Bristol Hospital Patient Health Portal.</p>
	</div>

</div>
{% endblock %}

{% block footer %}{% endblock %}
