{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Examples of personal health records in England{{serviceName}}{% endblock %}

{% block pageTitle %}Examples of personal health records in England{% endblock %}

{% block content %}


</style>


<div class="first-item">
	<p>Local healthcare providers are helping patients to see their personal health records online. Patients can use their records to:</p>
	<ul>
		<li>see information that healthcare staff want to share with them </li>
		<li>find out about appointments and treatment </li>
		<li>have more control over their health problems </li>
		<li>bring together information from different NHS organisations they have contact with </li>
	</ul>
	<p>The number of services on this page will increase as more NHS organisations develop digital services for patients in their areas.</p>

	<div>

		<div>
			<h2 class="heading-xlarge">Birmingham</h2>
			<p><a href="https://www.myhealth.uhb.nhs.uk/">myhealth@QEHB</a></p>
			<p>View your secure healthcare information online. </p>
			<p>Share information with the health professional of your choice. </p>
			<p>Get more control over your care at the NHS. </p>
			<p>Improve your understanding of your condition and its management.</p>
		</div>

	</div>

	<div>

		<div>
			<h3 class="heading-xlarge">Southampton</h2>
			<p><a href="https://mymedicalrecord.uhs.nhs.uk/About.aspx">My Medical Record</a></p>
			<p>See your medical record.</p>
			<p>Share information with doctors and other healthcare professionals.</p>
			<p>Reduce the need for hospital visits.</p>
		</div>

	</div>

</div>

<div class="form-group" style="background-color: #f0f4f5; border: solid #768692; border-width: 0 0 0 4px;">
	<p style="padding: 15px;">These services are not intended to be a substitute for a consultation with a healthcare professional. You should contact a healthcare professional (your GP or local pharmacist) if you are worried about your health. See our <a href="disclaimer">full disclaimer here</a>.</p>
</div>
{% endblock %}

{% block footer %}{% endblock %}
