{% extends '_layouts/layout_2-3.html' %}

{% block page_title %}Local Demonstrators {{serviceName}}{% endblock %}

{% block pageTitle %}Local Demonstrators prototypes{% endblock %}

{% block content %}
<div class="first-item">
	<h2 class="heading-large">Version 3</h2>
	<ul>
		<li><a href="/version3/app-store">Local digital health products</a></li>
	</ul>

	<h2 class="heading-large">Version 2</h2>
	<ul>
		<li><a href="/version2/app-store">App store and local services page</a></li>
		<li><a href="/version2/service-inclusion-form">Detailed on boarding page</a></li>
	</ul>

	<h2 class="heading-large">Version 1</h2>
	<ul>
		<li><a href="/version1/app-store">App store modifications to show PHR connected app &amp; links to local services</a></li>
	</ul>
</div>
{% endblock %}

{% block footer %}{% endblock %}
