html {
  
}

#global-footer {
  margin-top: $leading*4;
  padding-top: $leading;
  padding-bottom: $leading;
  min-height: 80px;
  border-top: 1px solid darken($pale-grey, 5);
  background-color: #005eb8;
  border-top: 4px solid #003087;
  color: #fff;
}

.footer-container {
  @extend %block;
  @extend %contain-floats;
  padding-bottom: $leading/2;
  padding-top: $leading/2;

  img {
    display: block;
    width: 79px;
    height: 32px;
  }
}


.global-footer__inner {
  margin: 0 16px;
  max-width: 960px;
  padding-bottom: 96px;
  padding-top: 32px; }
  @media (min-width: 925px) {
    .global-footer__inner {
      margin: 0 32px; } }
  @media (min-width: 1024px) {
    .global-footer__inner {
      margin: 0 auto; } }
  @media (min-width: 925px) {
    .global-footer__inner {
      padding-bottom: 128px;
      padding-top: 48px; } }
  .global-footer__inner:before {
    background: url("../beta/images/logotype-nhs-colour.c64f757a2004.png") no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 32px;
    margin-bottom: 32px;
    text-indent: -999em;
    width: 79px; }
    @media (min-width: 925px) {
      .global-footer__inner:before {
        margin-bottom: 48px; } }
    @media (min-resolution: 192dpi) {
      .global-footer__inner:before {
        background-image: url("../beta/images/logotype-nhs-colour@2x.c6447191d322.png");
        background-size: 79px 32px; } }